canvas{
    width:100%;
    height: 100%;
    background-color: #DEF8FF;
    /* padding: 1rem; */
}

/* #myMessage{
    /* text-align: center; */
    /* margin-left: 2rem;
    font-family: 'overpass';
    font-size: 18px;
} */

body, html {
    margin: 0;
    overflow: hidden;
}

.life{
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: none;
}