canvas{
    /* border: 1px solid black; */
    background-color: #DEF8FF;
    margin: 1rem;
    padding: 1rem;
}

#myMessage{
    /* text-align: center; */
    margin-left: 2rem;
    font-family: 'overpass';
    font-size: 18px;
}