canvas{
    width:100%;
    height: 100%;
    background-color: #DEF8FF;
    /* padding: 1rem; */
}

#score{
    position:absolute;
    right:2rem;
    top: -2rem;
    font-family: 'Overpass';
    color: black;
    font-size: 48px;
    text-align: center;
}

/* #highlightExtra{
    position: absolute;
    right: 2rem;
    top: 0rem;
    font-family: 'Overpass';
    font-size: 24px;
    text-align: center;
} */

body, html {
    margin: 0;
    overflow: hidden;
}

.life{
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: none;
}

.arrow{
    position: absolute;
    opacity: 0.8;
    display: none;
}

.feedback{
    position: absolute;
    display: none;
}

#gameOverText{
    font-family: 'Overpass';
    color: #E00000;
    font-size: 36px;
    /* text-align: center; */
    left: 1rem;
    top: 1rem;
    line-height: 0rem;
}
#winText{
    font-family: 'Overpass';
    color: #D88500;
    font-size: 36px;
    /* text-align: center; */
    left: 1rem;
    top: 1rem;
    line-height: 0rem;
}
#gameOverInstruction, #winInstruction, #mapViewInstruction{
    font-family: 'Overpass';
    color: black;
    font-size: 18px;
    top: 1rem;
    line-height: 0rem;
}
#crownImg{
    opacity:0;
}